<nav class="navbar">
    <span class="navbar-brand text-white">GESTION ECOLE</span>
</nav>

<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-menu">
            <ul class="list-unstyled">
                <li class="menu-title">
                    <span>Menu Principal</span>
                </li>
              
    <li><a [routerLink]="'/home'" routerLinkActive="active">Accueil</a></li>
    <li><a [routerLink]="'/students'" routerLinkActive="active">Étudiants</a></li>
    <li><a [routerLink]="'/teachers'" routerLinkActive="active">Professeurs</a></li>
    <li><a [routerLink]="'/courses'" routerLinkActive="active">Cours</a></li>
    <li><a [routerLink]="'/classes'" routerLinkActive="active">Classes</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12" style="margin-top: 10%;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
